{% extends "pwa-base.html" %}
{% load i18n %}

{% block content%}
    <div class="nav-bar text-center p-2"><strong>CLIENTE</strong></div>
    <div class="row info-client m-0 py-2">
        <div class="col-7 mt-2">
            <i class="fas fa-user orange"></i> <strong>{% trans "Nombre" %}</strong><br />{{obj.name}}</div>
        <div class="col-5 mt-2">
            <i class="fas fa-phone orange"></i> <strong>{% trans "Teléfono" %}</strong><br />{{obj.phone}}</div>
        <div class="col-12 mt-2">
            <i class="fas fa-map-marker orange"></i> <strong>{% trans "Dirección" %}</strong><br />{{obj.address}}</div>
    </div>
    <div class="nav-bar text-center p-2"><strong>SERVICIO</strong></div>
    <div class="row info-service m-0 py-2">
        <form method="post" action="{% url "pwa-employee-report-save" %}" id="frmService" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="report" name="report" value="{{obj.id}}" />
            <i class="fa fa-file-text orange"></i> <strong>{% trans "Descripción del servicio" %}</strong><br />
            {{obj.notes}}<br/><br/>

            <i class="fas fa-thumbtack orange"></i> <strong>{% trans "Notas" %}</strong><br />
            <textarea class="form-control" id="emp_notes" name="emp_notes">{{obj.emp_notes}}</textarea> <br/>

            <i class="fas fa-thumbtack orange"></i> <strong>{% trans "Notas Audio" %}</strong><br />
            <textarea class="form-control" id="audio_notes" name="audio_notes">{{obj.audio_notes}}</textarea> <br/>

            <i class="fas fa-microphone orange"></i> <strong>{% trans "Notas en Audio" %}</strong><br />
            <input type="file" id="audio" name="audio" accept="audio/*;capture=microphone" /><br/><br/>

            <i class="fa fa-info-circle orange"></i> <strong>{% trans "Estado" %}</strong><br />
            <select class="form-control" id="status" name="status">
                <option value="">{% trans "--Seleccione un estado--" %}</option>
                {% for item in status_list %} 
                    <option value="{{item.id}}" {%if item == obj.status%}selected{%endif%}>{{item.name}}</option> 
                {% endfor %}
            </select> <br/>

            {%comment%}
            <i class="fa fa-image orange"></i> <strong>{% trans "Fotos" %}</strong><br />
            {%for img in obj.images.all%}<img src="{{img.image.url}}" alt="image" class="rounded" width="33%"/>{%endfor%}<br/><br/>
            {#<label for ="img" class="btn btn-smi btn-info"> <i class="fas fa-upload"></i> {% trans "Foto" %}</label>#}
            <input type="file" id="img" name="img" accept="image/*;capture=camera" /> <br/> <br/>
            {%endcomment%}

            <input type="submit" class="btn btn-primary w-100 py-3" value="{% trans "Enviar" %}"/>
        </form>
        <div id="div-images">{% include "pwa/employees/report_images.html" %}</div>
    </div>
{% endblock %}
